 /* header style */
 .header{
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 53.5px;
    margin-bottom: 574px;
 }
 .header-link{
   
    margin-top: 20px;
    gap: 20px;
 }
.header-text-color{
    color:#8987A1;
    
}
.header-contenr{
    margin-top: 374px;
    display: flex;
    align-items: center;
   
}
.header-text-2{
   font-size: 65px;
    font-weight: 800;
}
.header-contenr-img{
   width: 100%;

}
.header-img-title-color{
    color: #E95A08;
}
/* main style */



.plants-item-contener{
    display: grid;
    grid-template-columns: repeat(4 ,1fr);
    margin-top: 50px;
    margin-right: 150px;
    margin-left: 150px;
    margin-bottom: 50px;
}
.plants-contener{
    align-items: center;}
 .plant-item{
    border:5px  solid white;
 }
 .plant-hhh{
    text-align: center;
    font-size: 50px;
    
 }
 .plant-ppp{
    text-align: center;
 }
 .plant-buy{
    border-radius: 2px;
    border: 2px solid ;
    background-color: #E95A08;
    color: aliceblue;
    font-size: 16px;
    padding: 0px 29px 0px 29px;
    border-radius: 3px;
    padding-top: 5px;
    padding-bottom: 5px;
    
 }
 .follower-contenr{
   display: flex;
   margin-top: 150px;
   border: 1px solid rgb(245, 242, 242);
   margin-left: 150px;
   margin-right: 150px;
   margin-bottom: 100px;

 }
 .follower-style{
   position: relative;
  

 }
 .follower-poto-2{
   width: 540px;
   height: 500px;
  
   
 }
 .follower-poto-1{
   width: 286px;
   height: 286px;
   position: absolute;
   top: -130px;
   left: 136px;
   
  

 }
 .follower-text{
   margin-left: 100px;
 }
 .discrount-title-contener{
   text-align: center;
 }
 .follower-title{
   font-size: 60px;
   font-weight: 800;
 }
 .follower-title-list{
   font-size: 22px;
   color: #8987A1;
   
   
 }
 .follower-list{
   margin-bottom: 10px;
 }
 /* discrount-shop-style */
 .discrount-shop{
   margin-top: 150px;
   border: 5px solid white;
   margin-left: 150px;
   margin-right: 150px;
   margin-bottom: 150px;
 }
 .discrount-title{
   font-size: 50px;
   font-weight: 800;

 }
 .discrount-span{
   color: #E95A08;


 }
 .discrount-dis{
   font-size: 22px;
   color: #8987A1;
 }
 .discrount-shop-contener{
   display:flex ;
   text-align: center;
 }
 .discrount-shop-poto-1{
   background-image: url(assets/deal-bloom.png) ;
   width: 100%;
   
   border-radius: 5px solid bisque;
     background-repeat: no-repeat;
      padding-top: 20px;
   padding-bottom: 20px;
   border: 8px solid whitesmoke;
   
 }
.discrount-shop-poto-2{
   background-image: url(assets/deal-ana.png);
   width: 100%;
   padding-top: 20px;
   padding-bottom: 20px;
  
     background-repeat: no-repeat;
     border: 8px solid whitesmoke;
} 
.discrount-shop-poto-3{
   background-image: url(assets/deal-zabo.png);
   border: 1px solid bisque;
   
   width: 100%;
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
    padding-top: 30px;
   padding-bottom: 20px;
   
    
   
} 
.discrount-shop-poto-p{
   font-size: 20px;
   font-weight: 800;
   color: azure;
}
.discrount-shop-poto-a{
   font-size: 16px;
   font-weight: 500;
   color: aliceblue;
}
.discrount-shop-poto-p-2{
   font-weight: 800;
   font-size: 40px;
   color: aliceblue;

}


.discrount-shop-poto-a-2-33{
   font-weight: 500;
   font-size:28px;
   color: aliceblue;
   margin-top: 40px;
   gap: 20px;
}
/* footer style */
.footer-item{
   margin-top: 30px;
   text-align: center;
   background-image: url(assets/news-letter-bg.png);
   background-repeat: no-repeat;
   padding-top:250px;
   padding-bottom: 280px;
   

}
.footer-email{
   border: 2px solid rgb(237, 236, 236);
   padding-left: 100px ;
   padding-right: 10px;
   background-color: aliceblue;
   border-radius: 2px;
   text-align: start;

}
.footer-sub{
   background-color: #E95A08;
   color: aliceblue;
   padding-left: 22px;
  padding-right: 22px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 5px;
}
 .footer-h{
   color: aliceblue;
   font-weight: 600;
   font-size: 45px;
   margin-bottom: 10px;
 }
 .icon{
   display: flex;
    display: grid;
   grid-template-columns: repeat(3, 1fr); 
   margin-left: 99px;
   
 }
 .icon-p{
   color: #8987A1;
 }
 .icon-main{
   margin-left: 30px;
 }
 .icon-item{
   margin-left:35px;
 }
 .icon-title{
   display: flex;
   color: #8987A1;
   margin-left:35px ;
   
 }
 .icon-title h3{
   margin-bottom: 20px;
 }
 .icon-div{
   margin-left: 90px;
 }
 .icon-1{
   margin-left: 67px;
 }
 .icon-2{
   margin-left:100px ;
 }
 .icon-3{
   margin-left: 101px;
 }
 .icon-4{
   margin-left: 56px;
 }


 

/* Responsive design */


@media screen and (max-width:500px)
 {
   body{ overflow-x: hidden;
      
      
   }
   .header{
      margin-left: 5px;
    margin-right: 5px;
    margin-top: 1px;
    margin-bottom: 40px;

   }
  .header-contenr{
    display: flex;
      flex-direction: column-reverse;
      margin-top: 3px;

  }
  .nav-link{
   display: none;
  }
  
   .header-text-2{
      font-size: 24px;
      width: 100%;

   }
   .header-link{
      margin-top: 1px;
    gap: 1px;

   }
   .header-link{
      margin-top: 35px;

   }
    .plants-item-contener{
         display: grid;
    grid-template-columns: repeat(2 ,1fr);
    margin-top: 2px;
    margin-right: 4px;
    margin-left: 4px;
    margin-bottom: 2px;

    }
    .follower-poto-1{
   display:none ;
}
.follower-contenr{
   display: flex;
   flex-direction: column;
    margin-left: 2px;
   margin-right: 2px;
   margin-bottom: 1px;
   margin-top:50px ;
}
.follower-poto-2{
    width: 5px;
   height: 6px;
  

}
.follower-text{
   margin-left: 3px;

}
.follower-title{
   font-size: 34px;


}
.discrount-shop{
   display: flex;
   flex-direction: columns;
}

.discrount-shop{
   display: flex;
   flex-direction: column;
   margin-top: 7px;
   border: 1px solid white;
   margin-left: 2px;
   margin-right: 0px;
   margin-bottom: 2px;
}
/* footer */
.footer-item{
   margin-top: 15px;
   
   /* padding-top:35px;
   padding-bottom: 35px; */
   text-align: start;
   
   overflow-x: hidden;
   padding-left: 11px;

}
.footer-email{
    padding-left: 5px ;
   padding-right: 5px;
   

}
.footer-sub{
   
   padding-left: 14px;
  padding-right: 14px;
  padding-top: 4px;
  padding-bottom: 4px;
  border-radius: 1px;
}
.footer-h{
   
   
   
   font-size: 30px;
   margin-bottom: 20px;
 }
 .icon{
   display: flex;
   flex-direction:column ;
    grid-template-columns: repeat(1, 1fr); 
   margin-left: 80px;
 }
 .icon-main{
   margin-left: 1px;
 }




 .icon-item{
   margin-left:1px;
 }
 .icon-title{
  
   margin-left:1px ;
  
 }
 .icon-p{
   color: #8987A1;
   font-size: 16px;
 }
 .icon-main{
   margin-left: 1px;
 }
 .icon-item{
   margin-left:10px;
 }
 .icon-div{
   display: flex;
   flex-direction: column;
 }
 .icon-item{
   margin-left: 50px;
 }
 .icon-main{
   border: 1px solid whitesmoke;
 }
 
}



        
       
       

    


    


