 /* header style */
 .header{
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 53.5px;
    margin-bottom: 574px;
 }
 .header-link{
   
    margin-top: 20px;
    gap: 20px;
 }
.header-text-color{
    color:#8987A1;
    
}
.header-contenr{
    margin-top: 374px;
    display: flex;
    align-items: center;
   
}
.header-text-2{
   font-size: 65px;
    font-weight: 800;
}
.header-contenr-img{
   width: 100%;

}
.header-img-title-color{
    color: #E95A08;
}
/* main style */



.plants-item-contener{
    display: grid;
    grid-template-columns: repeat(4 ,1fr);
    margin-top: 50px;
    margin-right: 150px;
    margin-left: 150px;
    margin-bottom: 50px;
}
.plants-contener{
    align-items: center;}
 .plant-item{
    border:5px  solid white;
 }
 .plant-hhh{
    text-align: center;
    font-size: 50px;
    
 }
 .plant-ppp{
    text-align: center;
 }
 .plant-buy{
    border-radius: 2px;
    border: 2px solid ;
    background-color: #E95A08;
    color: aliceblue;
    font-size: 16px;
    padding: 0px 25px 0px 25px;
    
 }
 .follower-contenr{
   display: flex;
   margin-top: 150px;
   border: 1px solid rgb(245, 242, 242);
   margin-left: 150px;
   margin-right: 150px;
   margin-bottom: 100px;

 }
 .follower-style{
   position: relative;
  

 }
 .follower-poto-2{
   width: 540px;
   height: 500px;
  
   
 }
 .follower-poto-1{
   width: 286px;
   height: 286px;
   position: absolute;
   top: -130px;
   left: 136px;
   
  

 }
 .follower-text{
   margin-left: 100px;
 }
 .follower-title{
   font-size: 60px;
   font-weight: 800;
 }
 .follower-title-list{
   font-size: 22px;
   color: #8987A1;
   
   
 }
 .follower-list{
   margin-bottom: 10px;
 }
  
 

/* Responsive design */
@media screen (max-width:576px) {
   .header-contenr{
      display: flex;
      flex-direction: column-reverse;
      margin-top: 3px;

     
   }
   .nav-link{
      display: none;
      
   }
   .header-text-2{
      font-size: 24px;
      width: 100%;
   }
   ..header-link{
      margin-top: 1px;
    gap: 1px;

   }
   .header{
       margin-left: 5px;
    margin-right: 5px;
    margin-top: 1px;
    margin-bottom: 40px;

   }
   .header-link{
      margin-top: 35px;
   }
   .plants-item-contener{
      display: grid;
    grid-template-columns: repeat(2 ,1fr);
    margin-top: 2px;
    margin-right: 4px;
    margin-left: 4px;
    margin-bottom: 2px;

   }
.follower-poto-1{
   display:none ;
}
.follower-contenr{
   display: flex;
   flex-direction: column;
    margin-left: 2px;
   margin-right: 2px;
   margin-bottom: 1px;
   margin-top:50px ;
}
. .follower-poto-2{
    width: 5px;
   height: 6px;
  

}
.follower-text{
   margin-left: 3px;

}
 .follower-title{
   font-size: 34px;


}
}


        
       
       

    


    


